<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Graphs for Projections</title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	<div class=page>
  			<h1>Graphs for Projections</h1>
  			<div class=metanav>
    			<h2>Enter start date below.</h2>
    			<p>e.g. 2015-09-02 <br>Valid start dates: 2014-02-14 ~ 2015-12-09</p>
    			<form id='input' method='post' action='index'>	
	  			<p>
					Start Date: <input type='text' name='start_date' />
	  			</p>
	  			<p>
	    			<input type="submit" value="Submit">
	  			</p>  		
				</form>
  			</div>
  			<div align="center">
  			</div>
		</div>
	</body>
</html>